/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

/*////// FONTS /////*/

header a {
	transition: color 0.5s ease;
	color: rgb(152,173,166);
	text-decoration: none;
}

header a:hover {
  color: rgb(111,127,122);
	text-decoration: none
}

h1 {
  font: 5em 'Baskerville', serif;
	padding-bottom: 10px;
	margin: 0;
}

h2 {
	font: bold 2em 'Baskerville', serif;
	color: rgb(111,127,122)
}

footer {
	text-align: right;
}

a {
	transition: text-decoration 0.5s ease;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*////// SECTIONS /////*/

body {
	padding: 0;
}

header {
	border-bottom: 1px rgb(152,173,166) solid;
	margin-bottom: 5px;
}

/*////// IMAGES /////*/

#featured img {
	border: 5px rgb(152,173,166) solid;
}

#press a img {
	transition: border-color 0.5s ease;
	border: 5px #ccc solid;
}

#press a:hover img {
	border: 5px rgb(152,173,166) solid;
}
